@import "src/styles/variables.scss";

$bar-height: 3px;
$bar-distance: 8px;

.menu-icon-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 32px;
  height: 100%;
  cursor: pointer;
  .menu-icon {
    height: $bar-height;
    width: 100%;
    background: #757474;
    position: absolute;
    transition: all 0s $menu-animation-duration;

    &::before {
      height: $bar-height;
      background: #757474;
      top: -$bar-distance;
      content: "";
      width: 100%;
      position: absolute;
      transition: top $menu-animation-duration $menu-animation-duration,
        transform $menu-animation-duration 0s;
    }

    &::after {
      height: $bar-height;
      background: #757474;
      bottom: -$bar-distance;
      content: "";
      width: 100%;
      position: absolute;
      transition: bottom $menu-animation-duration $menu-animation-duration,
        transform $menu-animation-duration 0s;
    }

    &.open {
      background: none;

      &::before {
        top: 0;
        transform: rotate(-45deg);
        animation: before-to-close $menu-animation-duration * 2;
      }
      &::after {
        bottom: 0;
        transform: rotate(45deg);
        animation: after-to-close $menu-animation-duration * 2;
      }
    }
  }
}

@keyframes before-to-close {
  0% {
    top: -$bar-distance;
    transform: rotate(0deg);
  }
  50% {
    top: 0px;
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}

@keyframes after-to-close {
  0% {
    bottom: -$bar-distance;
    transform: rotate(0deg);
  }
  50% {
    bottom: 0px;
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
