@import "src/styles/variables.scss";

.navigation-links-item {
  margin-right: $spacing-7;
  text-decoration: none;
  color: $color-primary-5;
  font-weight: $font-weight-semibold;
  font-size: $font-size-3;
  letter-spacing: 1px;
  box-sizing: border-box;
  height: 28px;
}

.navigation-links-item-active {
  border-bottom: 1px solid $color-primary-5;
}

.navigation-links-item:hover {
  opacity: 0.7;
}
