@import "src/styles/variables.scss";

.button {
  background-color: $color-blue-3;
  color: white;
  transition: 0.1s;
}

.button:hover {
  opacity: 0.8;
  transform: translate(0px, -4px);
}

.button:active {
  opacity: 1;
  transform: translate(0px, 0px);
}
