@import "src/styles/variables.scss";

.button {
  background-color: $color-blue-3;
  color: white;
  transition: 0.05s;
  outline: none;
  box-shadow: 0.3px 0.5px 0.7px hsl(0deg 0% 63% / 0.36),
    0.8px 1.6px 2px -0.8px hsl(0deg 0% 63% / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(0deg 0% 63% / 0.36);
  cursor: pointer;
}

.button:hover {
  background-color: $color-blue-1-5;
  transform: translate(0px, -2px);
  box-shadow: 0.3px 0.5px 0.7px hsl(0deg 0% 63% / 0.36),
    0.8px 1.6px 2px -0.8px hsl(0deg 0% 63% / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(0deg 0% 63% / 0.36),
    5px 10px 12.6px -2.5px hsl(0deg 0% 63% / 0.36);
}

.button:focus {
  box-shadow: 0.3px 0.5px 0.7px hsl(0deg 0% 63% / 0.36),
    0.8px 1.6px 2px -0.8px hsl(0deg 0% 63% / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(0deg 0% 63% / 0.36),
    5px 10px 12.6px -2.5px hsl(0deg 0% 63% / 0.36);
  transform: translate(0px, -2px);
  background-color: $color-blue-1-5;
}

.button:active {
  transform: translate(0px, 0px);
  opacity: 0.9;
}

.button-disabled {
  background-color: $color-grey-2;
  color: $color-grey-6;
}
