@import "src/styles/variables.scss";

.button {
  background-color: $color-blue-3;
  color: white;
}

.button:hover {
  background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(255, 135, 110, 0.2) 0%,
      rgba(255, 135, 110, 0.084) 100%
    ),
    $color-blue-3;
}
