@import "src/styles/variables.scss";

.card {
  width: $spacing-12;
  p {
    font-size: $font-size-3;
    line-height: 1.6875;
  }

  h4 {
    margin: $spacing-3 0;
  }

  .card-icon {
    height: $spacing-7;
  }
}
