@import "src/styles/variables.scss";

.card {
  width: $spacing-12;
  p {
    font-size: $font-size-3;
    line-height: 1.6875;
  }

  h4 {
    margin: $spacing-3 0;
  }

  .card-icon {
    height: $spacing-7;
  }
}

@media screen and (max-width: $max-mobile-width) {
  .card {
    display: flex;
    flex-direction: column;
    margin-top: $spacing-7;

    .card-header-container {
      display: flex;
      flex-direction: row;
      align-items: center;

      h4 {
        margin: 0;
      }
      .card-header-icon-container {
        width: 32px;
        margin-right: 1px;
      }

      .card-icon {
        height: $spacing-6;
      }
    }
  }
}
