@import "src/styles/variables.scss";

.card {
  width: 250px;
  p {
    font-size: 16px;
    line-height: 25px;
  }

  h4 {
    margin: $spacing-3 0;
  }

  .card-icon {
    height: $spacing-7;
  }
}
