@import "src/styles/variables.scss";

.page-container {
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
.main-container {
  @include flex-column;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  max-width: 1300px;
  padding: 0 20px;
}
