@import "src/styles/variables.scss";

.landing-section {
  @include flex-row;
  .left-side {
    @include flex-column;
    flex: 1;
    h1 {
      max-width: 60%;
    }
  }
  .right-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .landing-screen-image {
    max-width: 80%;
    margin-top: 20px;
  }
}
