@import "src/styles/variables.scss";

.landing-section-header {
  max-width: 14ch;
}
.landing-section-wrapper {
  margin-bottom: $spacing-6;
}
.landing-section {
  @include flex-row;
  .left-side {
    @include flex-column;
    max-width: 520px;
    p {
      width: 520px;
      max-width: 520px;
      margin-bottom: $spacing-6;
    }
    flex: 1;
  }
  .right-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .landing-screen-image {
    max-width: 440px;
    transform: translate(0px, -60px);
  }
}
