// COLORS
$rq-red: #ff5858;
$rq-yellow: #f4f1d0;
$rq-gray: #cacaca;
$rq-white: #fff6f6;
$default-text-color: #656565;

// VARIABLESs
$max-view-width: 1000px;

// FONT SIZES
$font-size-1: 12px;
$font-size-2: 14px;
$font-size-3: 16px;
$font-size-4: 18px;
$font-size-5: 20px;
$font-size-6: 24px;
$font-size-7: 30px;
$font-size-8: 36px;
$font-size-9: 48px;
$font-size-10: 60px;

// COLORS, low number means lighter
$color-primary-1: #ffe8e8;
$color-primary-2: #ffc1c1;
$color-primary-3: #ffa2a2;
$color-primary-4: #ff6672;
$color-primary-5: #ff5858;
$color-primary-6: #ec4646;
$color-primary-7: #cf3f3f;
$color-primary-8: #9d0000;
$color-primary-9: #693939;

$color-secondary-1: #fef8f4;
$color-secondary-2: #fee7d5;
$color-secondary-3: #ffcca4;
$color-secondary-4: #febd85;
$color-secondary-5: #ff876e;

$color-grey-1: #f8f9fa;
$color-grey-2: #e1e7ec;
$color-grey-3: #d5dde5;
$color-grey-4: #ccd4db;
$color-grey-5: #aebecc;
$color-grey-6: #929fb1;
$color-grey-7: #7d7e7f;
$color-grey-8: #50504f;
$color-grey-9: #363d45;

$font-light: "Mulish Light";
$font-regular: "Mulish Regular";
$font-semibold: "Mulish SemiBold";
$font-bold: "Mulish Bold";

//MIXINS
@mixin flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}
