@import "src/styles/variables.scss";

.red-stripe {
  position: absolute;
  bottom: -75%;
  left: -50%;
  background-color: $color-primary-5;
  height: 800px;
  width: 200%;
  transform: rotate(-8deg);
}
