@import "src/styles/variables.scss";

.reason {
  display: flex;
  margin-bottom: $spacing-7;
  .reason-left {
    .reason-checkmark {
      height: $font-size-5;
      width: auto;
      margin-right: $spacing-2;
      transform: translate(0px, 3px);
    }
  }
  .reason-right {
    flex: 1;
    h4 {
      margin: 0;
    }
    p {
      max-width: 48ch;
    }
  }
}
