@import "src/styles/variables.scss";

.reason {
  display: flex;
  .reason-left {
    .reason-checkmark {
      height: 23px;
      width: auto;
      margin-right: $spacing-2;
    }
  }
  .reason-right {
    flex: 1;
    h4 {
      margin: 0;
    }
  }
}
