@import "src/styles/variables.scss";

.applications-section {
  margin-top: $spacing-7;
  margin-bottom: $spacing-11;
  .applications-section-list {
    display: flex;
    justify-content: space-between;
  }
}
