@import "src/styles/variables.scss";

.applications-section-wrapper {
  position: relative;
  .applications-section-background {
    position: absolute;
    width: 100vw;
    background-color: $color-secondary-1;
    height: 100%;
    left: -$page-padding;
    z-index: -10;
  }
  .applications-section {
    margin-top: $spacing-7;
    .applications-section-list {
      max-width: 1200px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    @media (min-width: 768px) {
      .applications-section-list {
        flex-direction: row;
      }
    }
    .speed-icon {
      transform: translate(-5px, -1px);
    }
  }
}
