@import "src/styles/variables.scss";

.applications-section-wrapper {
  position: relative;
  .applications-section-background {
    position: absolute;
    width: 100vw;
    background-color: $color-secondary-1;
    height: 100%;
    left: -$page-padding;
    z-index: -10;
  }
  .applications-section {
    margin-top: $spacing-8;
    .applications-section-list {
      max-width: 1200px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    @media (min-width: 1000px) {
      .applications-section-list {
        flex-direction: row;
      }
      .speed-icon {
        transform: translate(-5px, -1px);
      }
      .userfriendly-icon {
        transform: translate(-2px, 8px) scale(0.9);
      }
      .secure-icon {
        transform: translate(-4px, 8px) scale(0.9);
      }
    }
  }
}

@media (max-width: $max-mobile-width) {
  .applications-section-wrapper {
    background-color: $color-secondary-1;
    margin-bottom: $spacing-8;
    .applications-section {
      h2 {
        margin-bottom: 0;
      }
    }
  }
  .applications-section-background {
    display: none;
  }
}
