@import "src/styles/variables.scss";

.contact-form-wrapper {
  @include flex-column;
  align-items: center;

  h2 {
    margin: 0;
  }
  p {
    font-weight: $font-weight-light;
    margin: $spacing-5 0 $spacing-6 0;
    text-align: center;
  }

  .contact-form {
    background-color: white;
    width: 480px;
    padding: $spacing-6;
    filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.25));
    border-radius: $spacing-1;
    div {
      margin-bottom: $spacing-5;
    }

    textarea {
      resize: none;
    }

    input,
    textarea {
      width: 300px;
    }

    .contact-form-label-focused {
      color: $color-blue-2;
    }

    .required:after {
      content: "*";
      color: $color-grey-10;
    }

    .required-focused:after {
      content: "*";
      color: $color-blue-2;
    }
  }
}
