@import "src/styles/variables.scss";

.red-stripe-clipped {
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(
    160deg,
    hsl(0deg 100% 67%) 0%,
    hsl(2deg 100% 68%) 11%,
    hsl(3deg 100% 68%) 22%,
    hsl(4deg 100% 68%) 33%,
    hsl(5deg 100% 69%) 44%,
    hsl(6deg 100% 69%) 56%,
    hsl(8deg 100% 70%) 67%,
    hsl(9deg 100% 70%) 78%,
    hsl(9deg 100% 71%) 89%,
    hsl(10deg 100% 72%) 100%
  );
  height: $qoute-section-height;
  width: 100vw;
  clip-path: polygon(0 55%, 100% 13%, 100% 100%, 0% 100%);
  z-index: -10;
}

.contact-form-wrapper {
  @include flex-column;
  align-items: center;

  .contact-header {
    margin: $spacing-4 auto 0 auto;
    text-align: center;
    display: block;
  }
  .contact-p {
    font-weight: $font-weight-light;
    margin: $spacing-5 $spacing-6 $spacing-7 $spacing-6;
    text-align: center;
  }

  .contact-form {
    background-color: white;
    width: 500px;
    padding: $spacing-6;
    filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.25));
    border-radius: $spacing-1;
    div {
      margin-bottom: $spacing-5;
    }

    textarea {
      resize: none;
    }

    input,
    textarea {
      width: 340px;
    }

    .contact-form-label-focused {
      color: $color-blue-3;
    }

    button {
      margin-left: $spacing-1;
    }

    .contact-form-input-checkmark {
      background: url("static/checkmark_blue.svg") no-repeat scroll 330px 14px;
      background-color: #eef4f8;
      outline: none;
      // border-color: $color-blue-3;
      color: $color-blue-3;
      // font-size: $font-size-;
    }

    .required:after {
      content: "*";
      margin-left: 2px;
      color: $color-grey-10;
    }

    .required-focused:after {
      content: "*";
      margin-left: 2px;
      color: $color-blue-3;
    }
  }
}
