@import "src/styles/variables.scss";

.why-tailor-made-section {
  @include flex-row;
  // margin-top: $spacing-7;
  // margin-bottom: $spacing-7;
  .wtm-leftside {
    @include flex-column;
    flex: 1;
  }
  .wtm-rightside {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    .wtms-image {
      max-width: 70%;
      // margin-top: 20px;
    }
  }
}
