@import "src/styles/variables.scss";

.wtm-leftside-ingress {
  margin: $spacing-6 0;
}
.why-tailor-made-section {
  @include flex-row;
  .wtm-leftside {
    @include flex-column;
    flex: 2;
  }
  .wtm-rightside {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    .wtms-image {
      transform: translate(0px, -200px) scale(1.5);
    }
  }
}

@media (max-width: $max-mobile-width) {
  .why-tailor-made-section {
    h2 {
      margin: $spacing-1 0;
    }
    .wtm-rightside {
      display: none;
    }
  }
}
