@import "src/styles/variables.scss";
.main-header {
  @include flex-row;
  justify-content: space-between;
  align-items: center;
  max-width: $max-header-width;
  margin-left: auto;
  margin-right: auto;
  padding: $page-padding;
  height: $header-height;
  .rq-logo {
    cursor: pointer;
  }
  .navigation-links {
    margin: 0 100px 0 0;
  }
}

@media screen and (max-width: $max-mobile-width) {
  .main-header {
    padding: 0;
    max-width: none;
    margin: none;
  }
}
