@import "src/styles/variables.scss";

.qoute-section-container {
  @include flex-row;
  position: relative;
  justify-content: center;
  align-items: center;
  height: $qoute-section-height;
  margin: $spacing-7 0 $spacing-7 0;

  .left-side {
    @include flex-column;
    flex: 1;
    z-index: 10;
    h2,
    h3,
    p,
    li {
      color: white;
    }
  }
  .right-side {
    flex: 1;
    @include flex-column;
    align-items: center;
    z-index: 10;
    transform: translate(0px, 10px);

    p {
      font-family: Georgia;
      font-style: italic;
      font-size: $font-size-6;
      line-height: 1.75;
      color: white;
      border-left: 1px solid white;
      padding-left: $spacing-5;
      max-width: 500px;
    }
  }
}

@media screen and (min-width: 769px) and (max-width: $max-tablet-width) {
  .qoute-section-container {
    .right-side {
      transform: translate(0px, 10px) scale(0.8);
    }
  }
}
