@import "src/styles/variables.scss";

.qoute-section {
  height: 100vh;
  background-color: aqua;
  @include flex-row;

  .left-side {
    @include flex-column;
    flex: 1;
    z-index: 10;
    h2 {
      margin-top: $spacing-10;
      color: white;
    }
    p {
      color: white;
    }
  }
  .right-side {
    flex: 1;
    @include flex-column;
  }
}
