@import "src/styles/variables.scss";

.footer {
  position: relative;

  .footer-background {
    position: absolute;
    background-color: $color-secondary-1;
    z-index: -10;
    width: 100vw;
    height: 100%;
    left: -$page-padding;
  }
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $spacing-8 0 $spacing-4 0;
  }
  .footer-row {
    color: $color-blue-1;
    font-size: $font-size-1;
  }
}

@media screen and (max-width: $max-mobile-width) {
  .footer {
    position: static;
    background-color: $color-secondary-5;
    padding: 0 24px;

    .footer-background {
      display: none;
    }
    .footer-content {
      align-items: flex-start;
      padding: $spacing-6 0;
    }
    .footer-row {
      max-width: 34ch;
      text-align: start;
      color: white;
    }
  }
}
