@import "src/styles/variables.scss";

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $spacing-5 0;
  background-color: $color-primary-5;
  .footer-row {
    color: white;

    font-size: $font-size-1;
  }
}
